.content {
  margin: 4em auto 0;
  max-width: 1400px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: #f1f3f4;
}

.mat-header-cell {
  background-color: #e8f0fe;
  color: #3278d7;
}

section {
  display: table;
}

table {
  width: 100%;
  background-color: #ffffff;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
