<div class="content">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>Create Account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registerForm" class="site-form">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput
                 formControlName="firstName"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput
                 formControlName="lastName"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>eMail Address</mat-label>
          <input matInput
                 type="email"
                 formControlName="email"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>KNumber</mat-label>
          <input matInput
                 placeholder="Leave blank if not a student"
                 formControlName="kNumber"
          />
        </mat-form-field>
        <mat-form-field appearance = "outline">
          <mat-label>Password</mat-label>
          <input matInput
                 type="password"
                 formControlName="password"/>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
              [disabled]="!this.registerForm.valid"
              (click)="onSubmit()">
        Create Account
      </button>
      <button mat-button
              class="secondary-button"
              routerLink="/login"
              routerLinkActive="active">
        Return to Login</button>
    </mat-card-actions>
  </mat-card>
</div>
